.auctions {
    padding: 10px;

}

#is_authenticated {
    font-size: small;
    padding: 5px;
    text-align: left;
    padding-right: 15px;
}

#auction_logo {
    color:firebrick;
    border-radius: 70px;
    padding: 10px;
}

.index {
    max-height: 150px;
    max-width: 250px;
    
}

@media (min-width: 600px) {
    body {
        background-color: white;
    }
}

#container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#container > div {
    margin: 10px;
    padding: 20px;
    width: 365px;
}

.grid {
    display: grid;
    overflow: auto;
}

.grid:hover, .comment_grid_item {
    border-radius: 5.5px;
    border-width: 1.5px;
    border-style: outset;
    border-color: rgb(230, 230, 230);
    cursor: default;
}

.comment_grid_item {
    margin: 20px;
    padding: 5px;
}

.grid-item p {
    text-align: center;
}

.card-body p {
    text-align: justify;
}

.title {
    display: inline-flex;
    align-items: center;
    width: 100%;

}
.title .gif {
    background-image: url("dribbble.gif");
    background-size: cover;
    width: 150px;
    height: 100px;

}

#myCarousel, .comment_grid {
    max-width: 700px;
    margin: auto;


}

.carousel-inner{
    background-color: lightgrey;
    border: 1px solid rgb(48, 1, 1);

}

.carousel-inner img{
    height: 600px;
    object-fit: contain;
}

.select_category, .place_bid {
    display: flex;
}

.place_bid button {
    white-space: nowrap;
}

.watchlist_button {
    max-width: 215px;
    margin: auto;
}
