.auctions {
    padding: 10px;

}

#is_authenticated {
    font-size: small;
    background-color: #dddddd;
    border-radius: 0px;
    padding: 5px;
    text-align: right;
    padding-right: 15px;
}

#logo {
    color:firebrick;
    border-radius: 50px;
}

img {
    max-height: 150px;
    max-width: 250px;
    
}

@media (min-width: 600px) {
    body {
        background-color: white;
    }
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#container > div {
    margin: 10px;
    padding: 20px;
    width: 300px;
}

.grid {
    display: grid;
}

.grid:hover {
    border-radius: 20px;
    border-width: 1.5px;
    border-style: outset;
    border-color: rgb(230, 230, 230);
    cursor: default;
}

.grid-item p {
    text-align: center;
}

.title {
    display: inline-flex;
    align-items: center;
    width: auto;

}
.title .gif {
    background-image: url("dribbble.gif");
    background-size: cover;
    width: 100px;
    height: 100px;

}