{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div id="container">
      {% for listing in listings %}
        <div class="grid">
          <div class="grid-item">
            <p><a href="{% url 'listing' listing.title %}">{{ listing.title }}</a></p>
          </div>
          <div class="grid-item">
          {{ listing.description }}
          </div>
          <div class="grid-item">
            {% for img in listing.listing_photos.all %}
              <p><img src="{{ img.image.url }}" alt="image"></p>
            {% empty %}
              <p><img src="#" alt="image"></p>
            {% endfor %}
          </div>
          <div class="grid-item">
            <p>${{ listing.current_price }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

{% endblock %}