{% extends "auctions/layout.html" %}

{% block body %}

    <form action="{% url 'new_listing' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if description_error %}
            <div class="alert alert-danger" role="alert">
                {{ description_error }}
            </div>
        {% endif %}
        {{ inf_form.as_p }}
        {{ inf_form.media }}
        <br>
        <p>Add a photo of the item (optional):</p>

        <!-- Add photo -->
        <div class="input-group mb-3">
            {{ img_form }}
            <label class="input-group-text" for="inputGroupFile01">Upload</label>
        </div>
        <!-- end -->

        <br>

        <button class="btn btn-secondary" type="submit">Create</button>

    </form>

{% endblock %}
