{% extends "auctions/layout.html" %}

{% block body %}

    <form action="{% url 'new_listing' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ inf_form.as_p }}
        {{ inf_form.media }}
        <br>
        <p>Add a photo of the item (optional):</p>
        <!-- Add photo -->
        <div class="input-group">
            <div class="custom-file">
            {{ img_form }}
            <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
            </div>
            <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Add Photo</button>
            </div>
        </div>
        <!-- end -->
        <br>
        <button class="btn btn-secondary" type="submit">Create</button>

    </form>

{% endblock %}
