{% extends "auctions/layout.html" %}

{% block body %}

    <form action="{% url 'new_listing' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in inf_form %}
            <p>{{ field.label_tag }}</p>
            {{ field }}
            {{ inf_form.media }}
            {% if inf_form.errors %}
                {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
            <br>
        {% endfor %}

        <p>Add a photo of the item (optional):</p>

        <!-- Add photo -->
        <div class="input-group mb-3">
            {{ img_form }}
            <label class="input-group-text" for="inputGroupFile01">Upload</label>
        </div>
        <!-- end -->

        <br>

        <button class="btn btn-secondary" type="submit">Create</button>

    </form>

{% endblock %}
